body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    background-color: darkgray;
    flex: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}